.root {
  li {
    &:global {
      &.selected {
        a {
          background-color: #fe5f1e;
          color: #fff;
        }
      }
    }

    display: inline-flex;
  }
  a {
    text-align: center;
    color: #fe5f1e;
    line-height: 42px;

    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border: 1px solid #fe5f1e;
    border-radius: 30px;
    margin-right: 10px;

    &:hover {
      background-color: #fe5f1e;
      color: #fff;
    }
  }
}
